<div id="task_index">
  <div class="task_contents">
    <div class="left_contents">
      <div class="left_head">
        <div class="head_contents">
          <div class="head_image">
            <%= link_to user_path(current_user.id) do %>
              <%= image_tag current_user.user_image.url, class: "head_user_image" %>
            <% end %>
          </div>
          <div class="head_name">
            <p><%= current_user.nickname %></p>
          </div>
        </div>
      </div>
      <div class="left_body">
        <div class="body_head">
          <%= link_to new_group_path do %>
            <i class="fas fa-users"></i><br>
          <% end %>
        </div>
        <div class="body_body">
          <ul>
            <%# <li class="group_list">グループA</li>
            <li class="group_list">グループB</li>
            <li class="group_list">グループC</li> %>
          </ul>
        </div>
      </div>
    </div>
    <div class="right_content">
      <div class="right_head">
        <div class="right_head_left">
          <div class="group_contents">
            <div class="group_name">
              <p>グループA</p>
            </div>
            <div class="group_members">
              <ul class="group_member">
                <li class="member_name">
                  <p>shogo</p>
                  <img class="member_image">
                </li>
                <li class="member_name">
                  <p>haru</p>
                  <img class="member_image">
                </li>
                <li class="member_name">
                  <p>hisasi</p>
                  <img class="member_image">
                </li>
              </ul>
            </div>
          </div>
          <div class="group_edit">
            <%= link_to "グループ編集"%>
          </div>
        </div>
        <div class="right_head_right">
          <div class="new_task">
            <%= link_to new_task_path do %>
              <i class="fas fa-feather-alt"></i>
            <% end %>
          </div>
          <div class="task_select">
            <select class="select_tasks">
              <option>並び替え</option>
              <option>新着順</option>
              <option>古い順</option>
              <option>期限近い順</option>
            </select>
          </div>
        </div>
      </div>
      <div class="right_body">
        <% @tasks.each do |task| %>
          <%= link_to task_path(task.id) do %>
            <div id="task">
              <div class="task_name">
                <p><%= task.title %></p>
              </div>
              <div class="task_complete">
                <%= link_to "完了", task_path(task.id), method: :delete, data:{confirm: "完了でよろしいですか？"}, class: "complete_btn"%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>