<div id="task_index">
  <div class="task_contents">
    <div class="left_contents">
      <div class="left_head">
        <div class="head_contents">
          <div class="head_image">
            <%= link_to user_path(current_user.id) do %>
              <%= image_tag current_user.user_image.url, class: "head_user_image" %>
            <% end %>
          </div>
          <div class="head_name">
            <p><%= current_user.nickname %></p>
          </div>
        </div>
      </div>
      <div class="left_body">
        <div class="body_head">
          <%= link_to new_group_path do %>
            <i class="fas fa-users"></i><br>
          <% end %>
        </div>
          <div class="body_body">
            <% current_user.groups.each do |group| %>
              <%= link_to group_path(group) do %>
                <div class="group_list">
                  <%= group.name %>
                </div>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
    <div class="right_content">
      <div class="right_head">
        <div class="right_head_right">
          <div class="new_task">
            <%= link_to user_new_tasks_path do %>
              <i class="fas fa-feather-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="right_body">
        <% @tasks.each do |task| %>
          <% if task.group_id == nil && current_user.id == task.user_id %>
            <%= link_to user_show_task_path(task.id) do %>
              <div id="task">
                <div class="task_name">
                  <p><%= task.title %></p>
                </div>
                <div class="task_end_date">
                  <p class="limit_date"><%= task.end_date%></p>
                  <div class="task_end_time">
                    <p><%= task.end_time_hour%></p>
                    <span>:</span>
                    <p><%= task.end_time_minute%></p>
                    <p>まで。</p>
                  </div>
                </div>
                <div class="task_complete">
                  <%= link_to "完了", user_destroy_task_path(task.id), method: :delete, data:{confirm: "完了でよろしいですか？"}, class: "complete_btn" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
