<div id="task_new">
  <div id="app_title">
    <%= link_to "Todo-APP", group_path(@group) %>
  </div>
  <div class="task_new_form">
    <%= form_with model: [@group, @task], local: true do |f| %>
      <div class="task_input">
        <div class="task_title">
          <%= f.label :"タイトル" %><span class="title_span">*</span>
          <%= f.text_field :title, class: "input_title" %>
        </div>
        <div class="task_text">
          <%= f.label :"本文" %>
          <%= f.text_area :content, class: "input_text" %>
        </div>
      </div>
      <div class="datetime_field">
        <div class="start_field">
          <div class="start">
            <%= f.label :"開始" %>
            <%= f.text_field :start_date, id: "start_date_select"%>
          </div>
          <div class="start_time">
            <div class="start_hour">
              <%= f.select :start_time_hour, Task.start_time_hours.keys, id: "time_select" %>
            </div>
            <span class="center">:</span>
            <div class="start_minite">
              <%= f.select :start_time_minute, Task.start_time_minutes.keys, id: "time_select" %>
            </div>
          </div>
        </div>
        <div class="end_field">
          <div class="end">
            <%= f.label :"終了" %>
            <%= f.text_field :end_date, id: "end_date_select" %>
          </div>
          <div class="end_time">
            <div class="end_hour">
              <%= f.select :end_time_hour, Task.end_time_hours.keys, id: "time_select" %>
            </div>
            <span class="center">:</span>
            <div class="end_minite">
              <%= f.select :end_time_minute, Task.end_time_minutes.keys, id: "time_select" %>
            </div>
          </div>
        </div>
      </div>
      <div class="new_task_btn">
        <%= f.submit "作成する", id: "new_btn" %>
      </div>
    <% end %>
  </div>
</div>