<div id="group_new">
  <div id="app_title">
    <%= link_to "Todo-APP", group_path %>
  </div>
  <div class="group_field">
    <%= form_with model: @group, url: group_path, method: :patch, local: true do |f| %>
      <div class="group_container">
        <div class="new_group_name">
          <%= f.label :"グループ名" %><span class="title_span">*</span>
          <%= f.text_field :name, id: "group_name_input" %>
          <ul class="input_error">
            <li id="group_name_error"></li>
          </ul>
        </div>
        <div class="new_search">
          <%= f.label :"メンバー選択" %>
          <%= f.collection_check_boxes :user_ids, User.all, :id ,:nickname%>
        </div>
      <div class="edit_group">
        <div class="e_btn">
          <%= f.submit "変更する", id: "edit_group_btn" %> 
        </div>
        <div class="d_btn">
          <%= link_to "解散する", group_path(@group), method: :delete, data: {confirm: "本当に解散しますか？"}, id: "delete_group_btn" %> 
        </div>
      </div>
    <% end %>
  </div>
</div>