<div id="group_new">
  <div id="app_title">
    <%= link_to "Todo-APP", tasks_path %>
  </div>
  <div class="group_field">
    <%= form_with model: @group, url: groups_path, method: :post, local: true do |f| %>
      <div class="group_container">
        <div class="new_group_name">
          <%= f.label :"グループ名" %><span class="title_span">*</span>
          <%= f.text_field :name, id: "group_name_input" %>
          <ul class="input_error">
            <li id="group_name_error"></li>
          </ul>
        </div>
        <div class="new_search">
          <%= f.label :"メンバー選択" %><br>
          <%= f.collection_check_boxes :user_ids, User.all, :id ,:nickname%>
        <div class="new_group">
          <%= f.submit "作成する", id: "new_group_btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>