<div id="group_show">
  <div class="task_contents">
    <div class="left_contents">
      <div class="left_head">
        <div class="head_contents">
          <div class="head_image">
            <%= link_to user_path(current_user.id) do %>
              <%= image_tag current_user.user_image.url, class: "head_user_image" %>
            <% end %>
          </div>
          <div class="head_name">
            <p><%= current_user.nickname %></p>
          </div>
        </div>
      </div>
      <div class="left_body">
        <div class="body_head">
          <%= link_to root_path do %>
            <i class="fas fa-door-open"></i><br>
          <% end %>
        </div>
          <div class="group_body_body">
          </div>
      </div>
    </div>
    <div class="right_content">
      <div class="group_right_head">
        <div class="group_right_head_left">
          <div class="group_contents">
            <div class="group_name">
              <p><%= @group.name %></p>
            </div>
            <div class="group_members_show">
              <% @group.users.each do |user| %>
                <div class="group_member">
                  <div class="member_name">
                    <p><%= user.nickname %></p>
                    <%= image_tag user.user_image.url, class: "member_image" %>
                  </div>
                </div>
             <% end %>
            </div>
          </div>
          <div class="group_right_head_right">
            <div class="group_edit">
              <%= link_to "グループ編集", edit_group_path(@group) %>
            </div>
            <div class="new_task">
              <%= link_to new_group_task_path(@group) do %>
                <i class="fas fa-feather-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="group_right_body">
        <% @tasks.each do |task| %>
          <%= link_to group_task_path(@group, task) do %>
            <div id="task">
              <div class="task_name">
                <p><%= task.title %></p>
              </div>
              <div class="task_end_date">
                <p class="limit_date"><%= task.end_date%></p>
                <div class="task_end_time">
                  <p><%= task.end_time_hour%></p>
                  <span>:</span>
                  <p><%= task.end_time_minute%></p>
                  <p>まで。</p>
                </div>
              </div>
              <div class="task_complete">
                <%= link_to "完了", group_task_path(@group, task), method: :delete, data:{confirm: "完了でよいですか？"}, class: "complete_btn" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>