<div id="user_show">
  <div id="app_title">
    <%= link_to "My-Todo", tasks_path %>
  </div>
  <div class="show_field">
    <div class="user_data">
      <div class="show_image">
        <%= image_tag @user.user_image.url, class: "show_user_image"%>
      </div>
      <div class="show_nickname">
        <p><%= @user.nickname %></p>
      </div>
    </div>
    <div class="btns">
      <ul>
        <li class="edit_btn"><%= link_to "編集", edit_user_registration_path %></li>
        <li class="logout_btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li class="delete_btn"><%= link_to "退会", user_registration_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>